<!doctype html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="哈哈哈">
<meta name="author" content="哈哈哈">
<link th:href="@{/css/css.css}" rel="stylesheet">
<!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>哈哈哈</title>
</head>
<body cur="7">
  <!--head-->
  <div th:include="~{common/head :: head}"></div>
  <div class="inner-banner">
    <div class="wrap img">
      <img src="images/banner-Contact.png">
    </div>
  </div>
  <div class="container">
    <div class="wrap">
      <div class="c-hd clearfix"><span class="location fr"><em class="myfont">&#xe603;</em><a href="index.html">哈哈哈汉堡</a><i class="myfont">&#xe604;</i><a href="Contact.html">联系我们</a><i class="myfont">&#xe604;</i><em class="on">联系方式</em></span>联系我们 <span class="c-t"><em>Contact us</em><br>哈哈哈汉堡，乐享我味</span></div>
      <div class="c-wrap clearfix">
        <div class="aside fl">
          <div class="tt"></div>
          <ul class="sidenav">
            <li><a href="Contact.html">联系方式</a></li>
            <li><a href="msg.html">客户留言</a></li>
          </ul>
          <div class="asidebot"></div>
        </div>
        <div class="section fr">
          <div class="local">联系我们</div>
          <div class="cont img clearfix">
            <p class="mt30 f30">哈哈哈汉堡加盟</p>
            <p class="mt10">地址：嘉定区永盛路1218号金元大厦1003</p>
            <p>电话：021-021-69180016</p>
            <p>网址：www.qlzai.com</p>
            <p class="mt30" style=" color:#900; font-size:26px;">400-021-1234  <a href="#" target="_blank" style="font-size:12px; color:#300; display:inline-block; vertical-align:middle">免费咨询</a></p>
            <p class="mt20">
              <img src="upload/img3.jpg">
            </p>
          </div>
        </div>
      </div>
      <div class="c-foot tr">上海星辉餐饮管理有限公司</div>
    </div>
  </div>
   <!--foot-->
  <div th:include="~{common/head :: foot}"></div>
</body>
<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script src="js/waste.js"></script>
</html>