<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="哈哈哈">
<meta name="author" content="哈哈哈">
<link th:href="@{/css/css.css}" rel="stylesheet">
<!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>哈哈哈</title>
</head>
<body cur="5">
  <!--head-->
  <div th:include="~{common/head :: head}"></div>
  <div class="inner-banner">
    <div class="wrap img">
      <img src="images/banner-Milk_tea.png">
    </div>
  </div>
  <div class="container">
    <div class="wrap">
      <div class="c-hd clearfix"><span class="location fr"><em class="myfont">&#xe603;</em><a href="index.html">哈哈哈汉堡 </a><i class="myfont">&#xe604;</i><a href="Affiliate.html?id=1">奶茶加盟</a><i class="myfont">&#xe604;</i><em class="on">奶茶介绍</em></span>奶茶加盟 <span class="c-t"><em>Milk tea</em><br>哈哈哈汉堡，乐享我味</span></div>
      <div class="c-wrap clearfix">
        <div class="aside fl">
          <div class="tt"></div>
          <ul class="sidenav">
            <li><a href="Milk_tea.html">奶茶介绍</a></li>
          </ul>
          <div class="asidebot"></div>
        </div>
        <div class="section fr">
          <div class="local">奶茶介绍 </div>
          <div class="cont img clearfix">
            <p>&nbsp;</p>
            <img src="upload/img5.png">
            <img src="upload/img6.png">
            <p>&nbsp;</p>
            <img src="upload/img7.png">
            <p>&nbsp;</p>
            <img src="upload/img8.png">
            <p>&nbsp;</p>
            <p style="color:#660000; font-size:14p; font-weight:bold;">口味不断推陈出新，变化多，形成众多系列，消费者选择广，仅仅奶茶就有茉香奶茶，咖啡红奶茶，麦香红茶奶茶等等，添加物就有珍珠、椰果，还有雪泡、沙冰、刨冰等!</p>
            <p style="color:#660000; font-size:14p; font-weight:bold; margin-top:20px;">投资少、风险低、见效快，奶茶即可万元投资开间小店，一般在商业街、步行街、广场周边、住宅小区、学校等 人口密度大的地区都可经营，让奶茶饮品开店选址得以灵活化！</p></p>
            
          </div>
        </div>
      </div>
      <div class="c-foot tr">上海星辉餐饮管理有限公司</div>
    </div>
  </div>
   <!--foot-->
  <div th:include="~{common/head :: foot}"></div>
</body>
<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script src="js/waste.js"></script>
</html>