<!doctype html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="哈哈哈">
<meta name="author" content="哈哈哈">
<link th:href="@{/css/css.css}" rel="stylesheet">
<!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>哈哈哈</title>
</head>
<body cur="4">
  <!--head-->
  <div th:include="~{common/head :: head}"></div>
  <div class="inner-banner">
    <div class="wrap img">
      <img src="images/banner-News.png">
    </div>
  </div>
  <div class="container">
    <div class="wrap">
      <div class="c-hd clearfix"><span class="location fr"><em class="myfont">&#xe603;</em><a href="index.html">哈哈哈汉堡 </a><i class="myfont">&#xe604;</i><a href="News.html">新闻中心</a><i class="myfont">&#xe604;</i><em class="on">最新动态</em></span>新闻中心 <span class="c-t"><em>News</em><br>哈哈哈汉堡，乐享我味</span></div>
      <div class="c-wrap clearfix">
        <div class="aside fl">
          <div class="tt"></div>
          <ul class="sidenav">
            <li class="current"><a href="News.html">最新动态</a></li>
            <li><a href="#">开业公告</a></li>
            <li><a href="#">行业动态</a></li>
          </ul>
          <div class="asidebot"></div>
        </div>
        <div class="section fr">
          <div class="local">新闻中心 </div>
          <div class="cont img clearfix">
            <div class="clearfix news-title"><span class="fr info">来源：哈哈哈汉堡   |   时间：2015-05-01</span>感谢安徽芜湖查先生代理哈哈哈品牌!</div>
            <p><img src="upload/img9.jpg"></p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;芜湖，简称为“芜”，安徽省省辖市，位于安徽省东南部，处在长江南岸，青弋江与长江汇合处。下设鸠江区、镜湖区、弋江区、三山区四个市辖区，管辖芜湖县、繁昌县、南陵县、无为县四个县。芜湖是安徽省域副中心城市、次中心城市，与省会合肥并称为安徽省“双核"城市。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;芜湖有文字记载已逾2500年，素有“江东首邑”、“吴楚名区”、“吴头楚尾”之称，近代为“江南四大米市”之一。因“长江巨埠、皖之中坚”（孙中山语）名誉华夏，有“云开看树色，江静听潮声”之美誉。1876年中英《烟台条约》把芜湖辟为通商口岸，成为近代安徽开放先锋。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;芜湖特产有三刀三画、傻子瓜子、弋江贡篮、无为剔墨纱灯、芜湖铁画；芜湖小吃有南陵老鸭汤、百善贡酥、大闸蟹、弋江羊肉、无为板鸭、小笼汤包等。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;芜湖是沿江重点开放城市，长江流域区域中心和重要港口城市，皖江城市带承接产业转移示范区核心城市，南京都市圈成员城市，“长三角城市群”成员城市，合芜蚌自主创新试验区城市。我们相信哈哈哈在查先生的管理下，蒸蒸日上、锦上添花。</p>
          </div>
          
        </div>
      </div>
      <div class="c-foot tr">上海星辉餐饮管理有限公司</div>
    </div>
  </div>
  <!--foot-->
  <div th:include="~{common/head :: foot}"></div>
</body>
<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script src="js/waste.js"></script>
</html>