<!doctype html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="哈哈哈">
<meta name="author" content="哈哈哈">
<link th:href="@{/css/css.css}" rel="stylesheet">
<!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>哈哈哈</title>
</head>
<body cur="6">
  <!--head-->
  <div th:include="~{common/head :: head}"></div>
  <div class="inner-banner">
    <div class="wrap img">
      <img src="images/banner-Services.png">
    </div>
  </div>
  <div class="container">
    <div class="wrap">
      <div class="c-hd clearfix"><span class="location fr"><em class="myfont">&#xe603;</em><a href="index.html">哈哈哈汉堡 </a><i class="myfont">&#xe604;</i><a href="Services.html">综合服务</a><i class="myfont">&#xe604;</i><em class="on">促销活动</em></span>综合服务 <span class="c-t"><em>Service</em><br>哈哈哈汉堡，乐享我味</span></div>
      <div class="c-wrap clearfix">
        <div class="aside fl">
          <div class="tt"></div>
          <ul class="sidenav">
            <li class="current"><a href="Services.html">设计下载</a></li>
            <li><a href="#">促销活动</a></li>
          </ul>
          <div class="asidebot"></div>
        </div>
        <div class="section fr">
          <div class="local">设计下载 </div>
          <div class="Services clearfix">
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img12.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img13.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img12.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img13.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img12.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img13.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img12.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img13.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img12.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img13.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img12.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
            <dl>
              <dt><a href="#" target="_blank"><img src="upload/img13.jpg"></a></dt>
              <dd><a href="#" target="_blank">海报下载</a></dd>
            </dl>
          </div>
          
          <div class="page tc clearfix"><a href="Case.html" class="prev"><em></em>上一页</a><span>1</span><a href="Case_02.html">2</a><!--<a href="#">3</a><a href="#">4</a>...<a href="#">23</a>--><a href="Case_02.html" class="next">下一页<em></em></a></div>
        </div>
      </div>
      <div class="c-foot tr">上海星辉餐饮管理有限公司</div>
    </div>
  </div>
  <!--foot-->
  <div th:include="~{common/head :: foot}"></div>
</body>
<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script src="js/waste.js"></script>
</html>