<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="哈哈哈">
<meta name="author" content="哈哈哈">
<link th:href="@{/css/css.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>head</title>
</head>
<body >
  <!--head-->
  <div th:fragment="head">
    <div class="head">
      <div class="top">
        <div class="wrap">
          您好！朋友，欢迎您浏览哈哈哈官方网站！  [ <a th:href="@{/shangchen/login}" class="fc0">请登录</a> ]    [ <em class="myfont">&#xe602;</em><a href="reg.html">免费注册</a> ]
          <span class="tel clearfix">
          <span class="num fr">
            <i>Service hotline</i>
            400-021-1234
          </span>
          <em class="myfont">&#xe608;</em>
        </span>
        </div>
      </div>
      <div class="header">
        <div class="wrap clearfix">
          <a th:href="@{/index}" class="logo indent">哈哈哈</a>
          <ul class="nav mt30">
            <li><a th:href="@{/index}">首 页</a></li>
            <li>
              <a th:href="@{/about?id=1}">认识我们</a>
              <div class="slidenav">
                <a href="#">公司简介</a><a href="#">特许经营</a><a href="#">企业文化</a><a href="#">组织机构</a>
              </div>
            </li>
            <li><a th:href="@{/exhibition}">展示中心</a>
              <div class="slidenav">
                <a href="#">新品上市</a><a href="#">热销产品</a><a href="#">特色主食</a><a href="#">美味小食</a><a href="#">时尚饮品</a><a href="#">活力甜品</a><a href="#">超值套餐</a>
              </div>
            </li>
            <li>
              <a th:href="@{/affiliate?id=1}">汉堡加盟</a>
              <div class="slidenav">
                <a href="#">投资分析</a><a href="#">加盟优势</a><a href="#">加盟条件</a><a href="#">加盟方案</a><a href="#">加盟流程</a><a href="#">后续支持</a><a href="#">加盟问答</a>
              </div>
            </li>
            <li>
              <a th:href="@{/news}">新闻中心</a>
              <div class="slidenav">
                <a href="#">最新动态</a><a href="#">开业公告</a><a href="#">行业动态</a>
              </div>
            </li>
            <li>
              <a th:href="@{/milk_tea}">奶茶加盟</a>
              <div class="slidenav">
                <a href="#">奶茶介绍</a>
              </div>
            </li>
            <li>
              <a th:href="@{/services}">综合服务</a>
              <div class="slidenav">
                <a href="#">设计下载</a><a href="#">促销活动</a>
              </div>
            </li>
            <li>
              <a th:href="@{/contact}">联系我们</a>
              <div class="slidenav">
                <a href="#">联系方式</a><a href="#">客户留言</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>
</html>