<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
    default-autowire="byName" default-lazy-init="false">

    <!-- 需要事务拦截的路径 -->
    <aop:config proxy-target-class="true">
        <aop:advisor pointcut="execution( * com.xiaoxiaofengsi.*.service.impl.*.*(..))" advice-ref="txAdvice"/>
    </aop:config>
    
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="select*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="list*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="query*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="get*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="detail*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="count*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="insert*" read-only="false" propagation="REQUIRED" rollback-for="Throwable" />
            <tx:method name="update*" read-only="false" propagation="REQUIRED" rollback-for="Throwable" />
            <tx:method name="delete*" read-only="false" propagation="REQUIRED" rollback-for="Throwable" />
            <tx:method name="save*" read-only="false" propagation="REQUIRED" rollback-for="Throwable" />
            <tx:method name="newTran*" read-only="false" propagation="REQUIRES_NEW" rollback-for="Throwable" />
            <tx:method name="xaTran*" read-only="false" propagation="REQUIRED" isolation="SERIALIZABLE" rollback-for="Throwable" />
            <tx:method name="*" timeout="30" />
        </tx:attributes>
    </tx:advice>
    
</beans>